.input_div_wrapper {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    max-width: 400px;
    border-bottom: 0.5px solid gray;
    background: none;
}
.input_div_wrapper > input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    padding: 4px;
    background: none;
}
.input_div_wrapper > span {
    color: gray;
}
.input_div_wrapper > input:focus {
    outline: none;
}
.input_div_wrapper:hover{
    color: black;
    border-bottom: 0.5px solid black;
}
.input_div_wrapper:focus {
    border-bottom: 0.5px solid black;
}
.input_div_wrapper > span {
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 6px;
}
.input_div_wrapper:hover > span {
    color: black;
}